.DeepTable,.dtb{
  background-color: transparent;
}
body,html,#root{
  height: 100%;;
}

.dtb{
  font-size: 13px;
  position: relative;
}
.dtb-main{
  overflow-x: scroll;
}
.dtb-head{
  font-weight: 500;
 
}

.dtb-items{ overflow: hidden; position: relative; }
.dtb-item,.dtb-form{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.dtb-cell{
  overflow: hidden;
  position: relative;
}
.dtb-item:hover .dtb-cell{
  background-color: rgba(0, 0, 0, 0.075);

}
.dtb-content{
  height: 80vh;;
}
.dtb-cell{
  align-items: center;
}
.dtb-form{
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 2px #222;
}

.dtb-items .ps:not(.ps--scrolling-y):not(.ps--scrolling-x) {
  scroll-behavior: smooth;
}
.dtb-cell .fa-action{ position: absolute; right: 15px; top: 2px; visibility: hidden}
.dtb-cell:hover .fa-action{ visibility: visible; cursor: pointer; background-color: #bbb; border-radius: 3px; padding: 3px;}
.dtb-cell:hover .fa-action:active{ opacity: 0.8;}
.dtb-item-active .fa-action{
  background-color: #fff;
  color: #222;;
}
.ps-green-bookmark{
  position: absolute;
  background-color: var(--bs-blue);
  width: 3px;
  height: 5px;
  right: 0;
  opacity: 0.5;
  top: 0;
  transition: all 0.2s;
}
