.DeepTable,.dtb{
  background-color: transparent;
}
body,html,#root{
  height: 100%;;
}

.dtb{
  font-size: 13px;
  position: relative;
}
.dtb-main{
  overflow-x: scroll;
}
.dtb-head .dtb-bread{
  font-weight: 500;
 
}

.dtb-items{ overflow: hidden; position: relative; }
.dtb-item,.dtb-form{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.dtb-cell{
  overflow: hidden;
  position: relative;
}
.dtb-item:hover .dtb-cell{
  background-color: rgba(0, 0, 0, 0.075);

}
.dtb-content{
  height: 80vh;;
}
.dtb-cell{
  align-items: center;
}
.dtb-form{
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: solid 2px #222;
}

.dtb-items .ps:not(.ps--scrolling-y):not(.ps--scrolling-x) {
  scroll-behavior: smooth;
}
.dtb-cell .fa-action{ position: absolute; right: 15px; top: 2px; visibility: hidden}
.dtb-cell:hover .fa-action{ visibility: visible; cursor: pointer; background-color: #bbb; border-radius: 3px; padding: 3px;}
.dtb-cell:hover .fa-action:active{ opacity: 0.8;}
.dtb-item-active .fa-action{
  background-color: #fff;
  color: #222;;
}
.ps-green-bookmark{
  position: absolute;
  background-color: var(--bs-blue);
  width: 3px;
  height: 5px;
  right: 0;
  opacity: 0.5;
  top: 0;
  transition: all 0.2s;
}
.dtb-head{
  height: 64px;
}
.dtb-bread .nav-item.dropdown .nav-link{
padding: 0;
}
.dtb-bread .breadcrumb-item a{
  text-decoration: none;
  color: inherit;
}
.dtb-deep{
  position: relative;
}
.dtb-deep::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: solid 1px #999;
  width: 1px;
  content: "";
  z-index: 1;
}
.dtb-count{
  position: absolute;
  top:0;
  left: 5px;
 
  font-size: 10px;
  background-color: var(--bs-gray);
  padding: 0 2px;
  border-radius: 2px ;
  color: white;
z-index: 10;
}
.modal-header button,.modal-header button:focus{
  border: none;
  border-radius: 3px;
  outline: none;
}
.dtb-wrap{
  position: relative;
}
.dtb-loading{
position: absolute;
z-index: 11;
left: 0;
right: 0;
top: 10px;
background-color: var(--bs-yellow) ;
padding: 0.5rem 1rem;
border-radius: 3px;
margin: 0 auto;
width: 150px;
text-align: center;
box-shadow: 0 17px 18px 3px rgb(0 0 0 / 20%);
font-size: 12px;
}
.dtb-noact button,
.dtb-noact .breadcrumb,
.dtb-noact .fa-action{
  pointer-events: none;
  opacity: .5;
  cursor: not-allowed;
}
.dtb-loading._done{
  background-color: var(--bs-green) ;
  color: #fff;
}
[data-count]:not([data-count="0"])::before{
content: attr(data-count);
background-color: var(--bs-red);
color: #fff;
font-size: 11px;
padding: 0 3px;
border-radius: 3px;;
display: inline-block;
vertical-align: super;
}
.breadcrumb-item>a{
  text-transform: uppercase;
 
}